body{
    background: #000;
    color: #ccc;
    font-family: Gill Sans;
}

line { 
    stroke-width: 2;
    stroke: white;
}

line.targetSize1 {
    stroke-width: 0.5;
}

line.targetSize2 {
    stroke-width: 1;
}

line.targetSize3 {
    stroke-width: 1;
}

#text { 
    font-size: 39px;
    margin-top: -200px;
    text-align: center;
}

#viewport{
    position: relative;
    width: 860px;
    height: 560px;
    border: solid 1px #444;
    overflow: hidden;
}

#viewport > div {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #7ba613;
}

#viewport > #earth {
    width: 20px;
    height: 20px;
    top: 300px;
    left: 300px;
    background: #06F;
}

#viewport > #moon {
    width: 10px;
    height: 10px;
    top: 400px;
    left: 300px;
    background: #999;
}

#viewport > .asteroid {
    width: 6px;
    height: 6px;
    background: #f63;
}

#viewport > .asteroid.size5 {
    width: 5px;
    height: 5px;
}

#viewport > .asteroid.size4 {
    width: 4px;
    height: 4px;
}

#viewport > .asteroid.size3 {
    width: 3px;
    height: 3px;
}

#viewport > .asteroid.size2 {
    width: 2px;
    height: 2px;
}

#viewport > .asteroid.size1 {
    width: 1px;
    height: 1px;
}

#viewport > .ship {
    width: 9px;
    height: 9px;
    background: #d2ff00;
}

#viewport > .scanning {
    border-bottom: solid 1px green;
}

#viewport > .locking {
    border-bottom: solid 1px yellow;
}

#viewport > .firing {
    border-bottom: solid 1px red;
}

#viewport > .recharging {
    border-bottom: solid 1px blue;
}

